* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
.slider-container {
  width: 800px;
  margin: 25px auto;
  position: relative;
  height: 500px;
}
.slider-container .image-des {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-weight: bold;
  padding: 12px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  border-radius: 6px;
}
.slider-container img {
  position: absolute;
  opacity: 0;
  transition: 0.7s;
  z-index: 1;
}
.slider-container img.active {
  opacity: 1;
}
.slider-controller {
  width: 800px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.slider-controller .prev,
.slider-controller .next {
  background-color: #009688;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  user-select: none;
}
.slider-controller .prev.stop,
.slider-controller .next.stop {
  cursor: no-drop;
}
.slider-controller .numbers {
  list-style: none;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin: 0 5px;
}
.slider-controller .numbers li {
  display: inline-block;
  margin: 5px;
  width: 30px;
  height: 30px;
  background-color: #eee;
  line-height: 30px;
  border-radius: 15px;
  color: #222;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
}
.slider-controller .numbers li.active,
.slider-controller .numbers li:hover {
  background-color: #009688;
  color: #fff;
}
